{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main page__container bg--white">  
    <h2 style="max-width: 300px;" class="text text--dark text--s-normal text--w-regular">
        Ясность нашей позиции очевидна: дальнейшее развитие различных форм деятельности не оставляет шанса для приоритизации разума над эмоциями. Также как внедрение современных методик создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий.
    </h2>
</main>
<!-- /. MAIN -->



{% include "partials/_footer.html" %}