{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main bg--white">

    
    <!-- GENERAL-SCREEN -->
    <section class="general-screen">
        
        <div class="ticker general-screen__ticker marquee3k" data-speed="1">
            <span class="ticker__name title title--white title--w-light title--uppercase">
                Fincom Digital
            </span>
        </div>

        <div class="general-screen__speech">
            <span class="general-screen__word title title--white title--big title--w-bold title--uppercase">
                Functiona
            </span>
            <span class="general-screen__word title title--white title--big title--w-bold title--uppercase">
                Comunication
            </span>
            <span class="general-screen__word title title--white title--big title--w-bold title--uppercase">
                Design
            </span>
        </div>

    </section>
    <!-- /. GENERAL-SCREEN -->

</main>
<!-- /. MAIN -->



{% include "partials/_footer.html" %}