{% include "partials/_header.html" %}

<!-- MAIN -->
<main class="main bg--white js-animate-main" data-trs="container" data-trs-namespace="about">
    <!-- GENERAL-SCREEN -->
    <section class="general-screen">
        
        <!-- <div class="ticker general-screen__ticker marquee3k" data-speed="0.5">
            <span class="ticker__name title title--white title--w-light title--uppercase">
                TEST
            </span>
        </div> -->

        <div class="general-screen__speech">
            <span class="general-screen__word title title--white title--big title--w-bold title--uppercase js-animate">
                Functional
            </span>
            <span class="general-screen__word title title--white title--big title--w-bold title--uppercase js-animate">
                Comunication
            </span>
            <span class="general-screen__word title title--white title--big title--w-bold title--uppercase js-animate">
                Design
            </span>
        </div>

    </section>
    <!-- /. GENERAL-SCREEN -->

</main>
<!-- /. MAIN -->



{% include "partials/_footer.html" %}