/* Containers */

.container {
	@include wrapper();
}

.container-full {
	@include wrapper-full();
}

/* Hide */

.hide {
    display: none !important;
}

.hide-large {
	@include large(display, none !important);
}

.hide-medium {
	@include medium(display, none !important);
}

.hide-tablet {
	@include tablet(display, none !important);
}

.hide-mobile {
	@include mobile(display, none !important);
}

/* Position */

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* Background */

.bg {
    &--white {
        background-color: var(--color-white);
    }
    &--gray {
        background-color: var(--color-gray);
    }
}

/* Title */

.title {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
    &--big {
		font-size: 38px;
    }
    &--medium {
        font-size: 24px;
    }
    &--blue {
        color: var(--color-blue);
    }
    &--white {
        color: var(--color-white);
	}
	&--w-black {
		font-weight: 900;
	}
	&--w-bold {
		font-weight: bold;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--uppercase {
		text-transform: uppercase;
	}
}

.title-second {
    font-family: var(--font-roboto);
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 100%;
    color: var(--color-violet);
    margin: 0;
}

/* Text */

.text {
    font-family: var(--font-roboto);
    font-style: normal;
    margin: 0;
	&--dark {
		color: var(--color-dark); 
	}
	&--white {
		color: var(--color-white);
	}
	&--s-normal {
		font-size: 16px;
	}
	&--w-light {
		font-weight: 300;
	}
	&--w-regular {
		font-weight: normal;
	}
	&--w-medium {
		font-weight: 500;
	}
	&--w-bold {
		font-weight: 700;
	}
}