:root {
    --color-violet: #3D2373;
    --color-orange: #FC682D;
    --color-dark: #303B3F;
	--color-gray: #EFEFEF;
	--color-white: #FFFFFF;
    --font-roboto: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-gotham: "Gotham Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}