.header {
    padding: 20px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__social {
    margin-left: auto;
}

.header__burger-menu {
    margin-left: 106px;
}